.elements {
  padding-top:50px;
  padding-bottom: 68px;
}

.elements__content {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  max-width: 880px;
}

@media screen and (max-width: 321px) {
  .elements__content {
    gap: 20px;
    align-content: center;
    max-width: 320px;
  }
  .elements {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}
