.element {
    display: flex ;
    border-radius: 10px;
    display: block;
    margin: auto;
    background-color: #fff;
    max-width: 282px;
}

.element__image {
    cursor: pointer;
    width: 100%;

}
.element__nav {
    display: flex;
    justify-content: space-between;
    width: 246px;
    margin: 25px auto 31px;
}

.element__nav-title {
    margin: 0;
    font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  text-decoration: none;
  margin: 0;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__button {
  background-color: transparent;
  background-image : url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
  width: 25px;
  height: 19px;
  align-self: center;
}

.element_button:hover {
  opacity: 50%;
}
/*.element_button-active {
  background-image: url(../images/heart-active.svg);

}*/

@media screen and (max-width: 950px) {
    .element {
      width:350px;
    }
  }