.form {
  max-width: 100%;
  border-radius: 10px;
  margin: auto;
  align-self: center;
}

.form__fieldset {
  border: none;
  max-width: 358px;
  margin: 54px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 29.74px;
  padding: 0;
}
.form__input {
  border: none;
  border-bottom: 1px solid #0001;
  padding-bottom: 13.26px;
  padding-top: 0;
  font-size: 14px;
  line-height: 16.94px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.form__button {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  margin: 18.26px auto 36.51px;
  padding-top: 13.66px;
  padding-bottom: 18.49px;
  padding-left: 125px;
  padding-right: 124px;
  display: block;
  border: none;
  border-radius: 2px;
}
.form__button:hover {
  opacity: 80%;
  cursor: pointer;
}
.form__button_disabled {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  opacity: 20%;
}
.form__input_type-error {
  padding: 0;
  padding-bottom: 5px;
  border: none;
  margin: 0;
  border-bottom: 1px solid red;
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  line-height: 14.52px;
  min-height: 17px;
}
.form__input-error {
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  line-height: 14.52px;
  min-height: 17px;
  padding: 0;
}
@media screen and (max-width: 600px) {
  .form__fieldset {
    width: 238px;
    margin-top: 76px;
    gap: 30px;
  }
  .form__input {
    padding-bottom: 9px;
    margin: auto;
    width: 100%;
  }
  .form__button {
    padding: 14px 100px;
    margin: 25px auto;
    max-width: 238px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
