.header {
  padding-top: 45px;
}
.header__logo {
  padding-bottom: 41px;
}
.header__divider {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 601px) {
  .header {
    padding-top: 28px;
  }
  .header__logo {
    padding-left: 27px;
    max-width: 180px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 450px) {
  .header__logo {
    max-width: 150px;
  }
}

@media screen and (max-width: 321px) {
  .header__logo {
    max-width: 120px;
  }
}
