.page {
  background-color: #000000;
  max-width: 1280px;
  background-position: center;
  margin: 0 auto;
  height: 100%;
}
.page__content {
  max-width: 880px;
  background-size: cover;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: aliceblue;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .page {
    max-width: 768px;
  }
  .page__content {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .page {
    max-width: 320px;
  }
}
