.page {
  background-color: #000;
  background-position: center;
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
}

.page__container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", Arial, sans-serif;
    max-width: 880px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
}