.profile {
  padding-top: 36px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.profile__picture {
  border-radius: 50%;
  max-width: 120px;
  height: 120px;
  margin: 0;
  display: block;
}
.profile__details {
  display: flex;
  gap: 30px;
  margin: 0;
}
.profile__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  padding: 22px 0 21px;
}
.profile__content-info {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__name {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin: 0;
}
.profile__name-info {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  margin: 0;
}

.profile__name-button {
  background-image: url(../images/edit.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 10px;
  border: 1px solid #ffffff;
  background-position: center;
  align-self: center;
  height: 24px;
  width: 24px;
}
.profile__name-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__info-job {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.profile__button-add {
  background-image: url(../images/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  width: 150px;
  height: 50px;
  display: block;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: transparent;
}
.profile__button-add:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .profile__info {
    max-width: 363px;
  }
  .profile__name-info {
    font-size: 28px;
    line-height: 38px;
  }
  .profile__name-button {
    margin: auto;
    max-width: 21px;
    height: 21px;
    background-size: 9.25px;
  }
}

@media screen and (max-width: 811px) {
  .profile__button {
    width: 100px;
  }
}
@media screen and (max-width: 750px) {
  .profile {
    padding-top: 38px;
    flex-direction: column;
    gap: 36px;
  }
  .profile__details {
    flex-direction: column;
    justify-content: center;
  }
  .profile__picture {
    margin: auto;
    max-width: 180px;
    height: 180px;
  }
  .profile__content {
    padding: 0;
  }
  .profile__span {
    margin-bottom: 0;
    justify-content: center;
  }
  .profile__span-names {
    font-size: 38px;
  }
  .profile__content-info {
    margin: auto;
  }

  .profile__button {
    margin: auto;
    width: 282px;
    height: 60px;
  }
}
@media screen and (max-width: 601px) {
  .profile__button {
    padding: 0;
    margin: auto;
    height: 50px;
  }
}

@media screen and (max-width: 450px) {
  .profile__span {
    gap: 10px;
  }
  .profile__span-names {
    font-size: 32px;
  }
}

@media screen and (max-width: 360px) {
  .profile {
    max-width: 320px;
  }

  .profile__button {
    background-size: 17px;
  }
  .profile__picture {
    margin: auto;
    max-width: 120px;
    height: auto;
  }
  .profile__span-names {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__span-button {
    width: 18px;
    height: 18px;
  }
  .profile__content-info {
    font-size: 14px;
    line-height: 17px;
  }
}
